/* Start Global For Dark Mode */
header.dark_mode {
    background-color: #444 !important;
}
header.light_mode {
    background-color: #f8fafc !important;
}
body.dark {
    background-color: rgb(39 39 42) !important;
}
body.light {
    background-color: rgb(249 250 251) !important;
}
